@model ForumApp.Models.Comment

<h2>Editar Comentário</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Autor)
        @Html.HiddenFor(model => model.DataCriacao)
        @Html.HiddenFor(model => model.ComentarioId)

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Texto, "Comentário", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Texto, new { @class = "form-control", rows = "5", maxlength = "500", required = "required" })
                @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
                <span class="text-muted small">Restam <span id="charCount">500</span> caracteres</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var textarea = $('#@Html.IdFor(m => m.Texto)');
            var maxLength = parseInt(textarea.attr('maxlength'));
            var charCount = $('#charCount');

            charCount.text(maxLength - textarea.val().length);

            textarea.on('input', function () {
                var remaining = maxLength - $(this).val().length;
                charCount.text(remaining);
            });
        });
    </script>
}